body {
	background-color : #B0BBF5;
}

.content {
	background-color : #FFFFFF;
 }

.menu {
	padding : 1%;
	width: 20%;
	float: left;
}

.main {
	padding : 1%;
	width: 80%;
	margin-left: 20%;
}

.footer {
	text-align: center;
}

h1{
	padding-top: 4%;
	padding-bottom:2%;
	padding-left: 3%;
	font-weight:bold;
	font-size: 50pt;
}

ul {
	display: inline-block;
}


.progress-bar{
	width: 80%;
}
.glyphicon.glyphicon-remove{
	color:red !important;
}
.connexion{
	margin: auto;
	padding : 1%;
	width: 30%;
}
td{
	padding: 1%;
}
